div #geelong{
    content:url(../Images/Geelong.jpg);
}

div #bendigo {
    content: url(../Images/Bendigo.jpg);
}

div #ballarat {
    content: url(../Images/Ballarat.jpg);
}

.regional-cities {
    padding-bottom: 30px;
    padding-top: 30px;
}

div #geelong-background{
    content: url(../Images/Geelong-Background.jpeg);
    width: 75%;
}

div #ballarat-background {
    content: url(../Images/Ballarat-Background.jpeg);
    width: 75%;
}



@media (max-width: 767px) {
    #geelong-background, #ballarat-background {
        width: 100% !important;
    }
}

@media (min-width: 768px) and (max-width: 979px) {
    #geelong-background, #ballarat-background {
        width: 100%;
    }   
}

@media only screen and (max-width: 600px) {
    #geelong-background, #ballarat-background {
        width: 100%;
    }   
}