div #geelong{
    content:url(../Images/Geelong.jpg);
}

div #warrnambool {
    content: url(../Images/Warrnambool.jpeg);
}
div #homepage-background{
    content: url(../Images/Background.jpg);
}

div #latrobe {
    content: url(../Images/Latrobe.jpg);
}

div #bendigo {
    content: url(../Images/Bendigo.jpg);
}

div #ballarat {
    content: url(../Images/Ballarat.jpg);
}

.regional-cities {
    padding-bottom: 30px;
    padding-top: 30px;
}

div #geelong-background{
    content: url(../Images/Geelong-Background.jpg);
    width: 100%;
}


div #latrobe-background {
    content: url(../Images/Latrobe-Background.jpg);
    width: 100%;
}



div #warrnambool-background {
    content: url(../Images/Warrnambool-Background.jpg);
    width: 100%;
}

div #ballarat-background {
    content: url(../Images/Ballarat-Background.jpeg);
    width: 100%;
}

div #bendigo-background {
    content: url(../Images/Bendigo-Background.jpeg);
    width: 100%;
}

div #comparison-background {
    content: url(../Images/Comparison-Background.jpeg);
    width: 100%;
}

.compare {
    font-size: 22px;
    font-weight: normal;
    font-family: Brandon Grotesque;
    margin: 20px;
}

.filter-selection {
    color: black;
    font-size:20px;
    height:auto;
}

@media (max-width: 767px) {
    #geelong-background, #ballarat-background, #comparison-background , #bendigo-background {
        width: 100% !important;
    }
}

@media (min-width: 768px) and (max-width: 979px) {
    #geelong-background, #ballarat-background, #comparison-background, #bendigo-background {
        width: 100% !important;
    }   
}

@media only screen and (max-width: 600px) {
    #geelong-background, #ballarat-background, #comparison-background, #bendigo-background {
        width: 100% !important;
    }   
}