<!-- Header area -->
<div id="header-wrapper" class="header-slider">
    <header class="clearfix">
        <div class="container">
            <div class="row">
                <div class="span12">
                    <div id="main-flexslider" class="flexslider">
                        <ul class="slides">
                            @for (var i = 1; i <= 2; i++)
                            {
                            <li>
                                <p style="font-size:15px; position:absolute;" class="flex-caption">Ballarat</p>
                                <img src="~/Images/cities/@i-photo.jpg" alt="" />
                            </li>
                            }
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </header>
</div>