
@{
    ViewBag.Title = "Comparison";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script src="~/js/Bendigo/Education/Bendigo_education.js"></script>


<link href="@Url.Content("~/css/map.css")" rel="stylesheet" type="text/css" />

<style>
    #ComparisonGraph, #Geelonglanguage, #Bendigolanguage, #Ballaratlanguage {
        width: 100%;
        height: 500px;
        margin: 0;
        padding: 0;
    }
</style>
<!--Section: Description-->
<section id="comparison-description" class="section">
    <div class="container-fluid">
        <div class="row regional-cities">
            <div class="span12" id="comparison-background"></div>
            <div class="span3" style="float:left;">
                <p>
                    <h4>Comparison</h4>
                </p>
                <p style="font-size:16px;">
                    Are you too confused between two or more cities? We are here to help you out. Use our comparison feature and compare between population, job opportunities, cost of accomodation and many other criteria for your two most favourite cities.
                    You can now make a smart and quick choice for yourself and your family.
                </p>
            </div>
        </div>
    </div>
</section>


<!--Section: Comparison-->
<section id="comparison-description" class="section">
    <div class="container">
        <div class="row regional-cities">
            <div class="span12">
                <h4 style="text-align:left">Select one criteria from the list below:</h4>
                <form>
                    <div class="radio">
                        <label class="compare"><input type="radio" name="optradio" value="population">Population</label>
                    </div>
                    <div class="radio">
                        <label class="compare"><input type="radio" name="optradio" value="language">Language Spoken (Community)</label>
                    </div>
                    <div class="radio">
                        <label class="compare"><input type="radio" name="optradio" value="housing">Housing Price</label>
                    </div>
                    <div class="radio">
                        <label class="compare"><input type="radio" name="optradio" value="job">Job Opportunities</label>
                    </div>
                </form>
            </div>
        </div>
        <div class="row">
            <div class="span12" id="filters">
                <h4 style="text-align:left;">Select two cities you want to compare for the criterion chosen above:</h4>
                <ul class="clearfix">
                    <li>
                        <a href="#" data-filter="*" id="Geelong" value="Geelong">
                            <!--class="active"-->
                            <h5>Geelong</h5>
                        </a>
                    </li>
                    <li>
                        <a href="#" data-filter="*" id="Bendigo" value="Bendigo">
                            <h5>Bendigo</h5>
                        </a>
                    </li>
                    <li>
                        <a href="#" data-filter="*" id="Ballarat" value="Ballarat">
                            <h5>Ballarat</h5>
                        </a>
                    </li>
                </ul>
            </div>
            <div class="span12" id="filters" style="text-align:left;">
                <button type="button" id="CompareSubmit" class="btn btn-outline-info" style="color:#E65100; background-color: transparent; background-image:none; border-color:#E65100; text-align: left; padding: 12px;">
                    Compare
                </button>
            </div>
        </div>
    </div>
</section>
<section id="comparison-graph" class="section" >
    <div class="container">
        <div class="row regional-cities">
            <div class="span12" id="filter">
            </div>
        </div>
        <div class="row regional-cities" id="languageFilter">
            <div class="span4" id="GeelongContainer">
                <div id="Geelonglanguage"></div>
            </div>
            <div class="span4" id="BendigoContainer">
                <div id="Bendigolanguage"></div>
            </div>
            <div class="span4" id="BallaratContainer">
                <div id="Ballaratlanguage"></div>
            </div>
        </div>    
    </div>

</section>

<!--Comparsison-->

<script src="~/js/Comparison/Comparison.js"></script>