
@{
    ViewBag.Title = "Geelong";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!--Section: Description-->
<section id="geelong-description" class="section">
    <div class="container-fluid">
        <div class="row">
            <div class="span7">
                <div id="geelong-background"></div>
            </div>         
        </div>
    </div>
</section>
